<div class="card articleInfo">
    <img [src]="urlImg" [alt]="textAltImg">
    <div class="card-body">
        <h5 class="card-title" [ngStyle]="{ color : getColor()}">
            {{titreArticle | uppercase}}
            <span *ngIf="disponible === false;"> - indisponible</span>
        </h5>
        <h6 class="card-title">{{prixArticle}}  €</h6>
        <p class="card-text">{{description}}</p>

        <button  (click)="onLike()" [ngClass]="
        {
            'show' : like === true,
            'hidden' : like === false
        }
        ">J'aime</button>

        <button class="no-like" (click)="onLike()" [ngClass]="
        {
            'show' : like === false,
            'hidden' : like === false
        }
        ">Je n'aime pas</button>

        <p>Nombre de like {{nbLike}}</p>

        <input type="text" placeholder="Votre commentaire" [(ngModel)]="comment">
        <p>Commentaire :  {{ comment }} </p>

    </div>
</div>